* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Andika New Basic', sans-serif;
    /*background-image: url('https://images.unsplash.com/photo-1543092587-d8b8feaf362b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');*/
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
   /* background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));*/
    background-color: #ffffff;
    min-height: auto;
    color: black;
}
.nav-link {
    color:black
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom:25px;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, black, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
}

.rules {
    text-decoration: none;
    color: steelblue;
}

.rules:visited {
    color: crimson;
}

#container {
    max-width: 1100px;
    margin: 70px auto;
}

#heading-secondary {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    color: brown;
    text-transform: uppercase;
    transition: all ease 0.3s;
}
#heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0,0,0, .2);
}

.credit-card {
    width: 300px;
    height: 350px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 2px 1px 5px #333;
    background-color: #ffffff;
}

.credit-card-image {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.image-credit-1 {
    display: block;
    width: 50%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}

.image-credit-2 {
    display: block;
    width: 50%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}

.image-credit-3 {
    display: block;
    width: 50%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}

#heading-tertiary {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-bottom: 30px;
}

#credit-card-content-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#credit-card-content-para {
    text-align: center;
}

.social-link,
.social-link:visited {
    color: black;
    margin: 10px;
}

#seperator {
    width: 2px;
    height: 350px;
    background-color: #333;
}

#credits-type {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

#heading-type-1-div {
    flex: 1;
}

#heading-type-2-div {
    flex: 2;
}

.heading-type-2 {
    margin-left: 60px;
}

.vertical {
    display: none;
}

@media(max-width: 1000px) {
    .credit-card {
        width: 450px;
        height: 450px;
    }
    .flip-card {
        margin-bottom: 150px;
        transform: translate(-25%);
    }
    .credits-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #heading-tertiary {
        font-size: 2rem;
    }
    .fab {
       font-size: 3rem !important;
    }
    #container {
        padding: 50px;
        padding-top: 5px;
    }
}

@media(max-width: 500px) {
    .credit-card {
        width: 300px;
        height: 300px;
        padding: 20px;
    }
    #heading-tertiary {
        font-size: 1.5rem;
    }
    .fab {
       font-size: 1.8rem !important;
    }
    .flip-card {
        transform: translate(0);
        margin-bottom: 50px;
    }
}
/*

@media(max-width: 800px) {
    #credits-div {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }
    #seperator {
        display: none;
        width: 90%;
        height: 2px;
        margin-top: 20px;
    }
    .credit-card {
        width: 90%;
        height: 120px;
        display: flex;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 5px;
    }
    .credit-card-image {
        width: 40%;
        height: 100%;
    }
    .image-credit-1 {
        margin-left: 20px;
        width: 60%;
    }
    .image-credit-2 {
        margin-left: 20px;
        width: 60%;
    }
    .image-credit-3 {
        margin-left: 20px;
        width: 60%;
    }
    .credit-card-content {
        width: 60%;
        display: flex;
        position: relative;
    }
    #credits-type {
        display: none;
    }
    .vertical {
        display: block;
        margin-top: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7rem;
        text-align: center;
        color: #333;
        margin-bottom: 30px;
    }
    #heading-tertiary {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        text-align: center;
        color: #333;
        margin-top: 30px;
        width: 50%;
    }
}
*/

.credits-row {
    display: flex;
    justify-content: space-between;
}

.flip-card {
    background-color: #fff;
    width: 300px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-back {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
    color: white;
    display: flex;
    align-items: center;
    transform: rotateY(180deg);
    color: cornsilk;
  }
  .flip-back {
      font-size: 30px;
  }

  .footer-text {
      font-size: 20px;
      text-align: center;
      color: grey;
      margin-top: 50px;
  }