body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Andika New Basic', sans-serif;
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('images/chess1.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
    /* background-size: 1600px 750px; */
    background-size: cover;
    background-position: center;
    margin-bottom: 10%;
    background-attachment: fixed;
}
.navbar li a{
    color: white !important;
    transition: all ease-in-out 0.6s;
}
.navbar li a:hover{
    color: rgb(228, 218, 218) !important;
    transform: scale(1.2);
}
input[type="submit"]{
    background-color: grey;
    margin-left: 5px;
    padding: 5px;
    color: white;
}
input[type="submit"]:active{
    background-color: rgb(59, 76, 87);
}
h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    
    -webkit-background-clip: text;
   
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: steelblue;
}


#container {
    max-width: 1100px;
    margin: auto
}
#heading-primary{
    color:white;
    padding: 40px 0;
}

.content{
    width:90%;
    margin:auto;
}
#heading-secondary {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 50px 0;
    text-align:center;
    position:relative; 
}
.content p a{
    color:rgb(206, 131, 131);
}
#heading-secondary:before{
    content:'';
    position:absolute;
    bottom:-6px;
    width:160px;
    height: 5px;
    background: rgb(206, 131, 131);
}
#credits-div {
    margin-top: 20px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 50px;
    margin:auto;
}

.credit-card {
    width:25%;
    height: 350px;
    border: 1px solid #eee;
    box-shadow: 2px 1px 5px #333;
    margin:0 20px;
}


.credit-card-image {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
}

.image-credit{
    display: block;
    width: 50%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}

#heading-tertiary {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-bottom: 30px;
    margin-top:10px;
}

#credit-card-content-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#credit-card-content-links a{
    padding: 0 10px;
}

#credit-card-content-para {
    text-align: center;
}

.social-link,
.social-link:visited {
    color: black;
    margin: 10px;
}

#heading-type-1-div {
    flex: 1;
}

#heading-type-2-div {
    flex: 2;
}

.heading-type-2 {
    margin-left: 60px;
}

@media (max-width: 500px){
    
    .credit-card {
        width: 100%;
        margin-bottom: 30px;
    }
}
@media (min-width: 500px){
    .credit-card {
        width: 40%;
        margin-bottom: 30px;
    }
}
@media (min-width: 800px){
    .credit-card {
        width: 25%;
        margin-bottom: 30px;
    }
}
