body {
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, black, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    background-image: linear-gradient( rgba(22, 22, 22, 0.3), rgba(100, 100, 100, 0.4), rgba(211, 211, 211, 0.5));
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.navbar-brand {
    font-size: 1rem;
	line-height: inherit;
	white-space: nowrap;
}
@media (max-width:500px) and (min-width:288px) {
    .navbar {
        width: 130%;
    }
}

@media (max-width:387px) and (min-width:350px) {
    .navbar {
        width: 150%;
    }
}

@media (max-width:350px) and (min-width:300px) {
    .navbar {
        width: 170%;
    }
}

@media (max-width:299px) and (min-width:250px) {
    .navbar {
        width: 190%;
    }
}

@media (max-width:249px) and (min-width:200px) {
    .navbar {
        width: 240%;
    }
}
p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: steelblue;
}

a:visited {
    color: crimson;
}

#container {
    max-width: 1100px;
    margin: auto
}

#heading-secondary {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 50px;
}

#credits-div {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.credit-card {
    width: 300px;
    height: 350px;
    border: 1px solid #eee;
    box-shadow: 2px 1px 5px #333;
}

.credit-card-image {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.image-credit-1 {
    display: block;
    width: 50%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}

.image-credit-2 {
    display: block;
    width: 50%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}

.image-credit-3 {
    display: block;
    width: 50%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}

#heading-tertiary {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-bottom: 30px;
}

#credit-card-content-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#credit-card-content-para {
    text-align: center;
}

.social-link,
.social-link:visited {
    color: black;
    margin: 10px;
}

#seperator {
    width: 2px;
    height: 350px;
    background-color: #333;
}

#credits-type {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

#heading-type-1-div {
    flex: 1;
}

#heading-type-2-div {
    flex: 2;
}

.heading-type-2 {
    margin-left: 60px;
}

.vertical {
    display: none;
}

@media(max-width: 1000px) {
    .credit-card {
        width: 230px;
    }
}

@media(max-width: 800px) {
    #credits-div {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }
    #seperator {
        display: none;
        width: 90%;
        height: 2px;
        margin-top: 20px;
    }
    .credit-card {
        width: 90%;
        height: 120px;
        display: flex;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 5px;
    }
    .credit-card-image {
        width: 40%;
        height: 100%;
    }
    .image-credit-1 {
        margin-left: 20px;
        width: 60%;
    }
    .image-credit-2 {
        margin-left: 20px;
        width: 60%;
    }
    .image-credit-3 {
        margin-left: 20px;
        width: 60%;
    }
    .credit-card-content {
        width: 60%;
        display: flex;
        position: relative;
    }
    #credits-type {
        display: none;
    }
    .vertical {
        display: block;
        margin-top: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7rem;
        text-align: center;
        color: #333;
        margin-bottom: 30px;
    }
    #heading-tertiary {
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        text-align: center;
        color: #333;
        margin-top: 30px;
        width: 50%;
    }
}