body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Andika New Basic', sans-serif;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('images/chess2.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
    /* background-size: 1600px 750px; */
    background-size: cover;
    background-position: center;
    margin-bottom: 10%;
    background-attachment: fixed;
}
.navbar li a{
    color: #eee;
    transition: all ease 0.1s;
}

.navbar li a:hover{
    color: white !important;
    transform: scale(1.2);
}
input[type="submit"]{
    background-color: grey;
    margin-left: 5px;
    padding: 5px;
    color: white;
}
input[type="submit"]:active{
    background-color: rgb(59, 76, 87);
}
h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    
    -webkit-background-clip: text;
    background-clip: text;
   
}

p {
    font-family: 'Open Sans', sans-serif;
}


a:visited {
    color: crimson;
}

#heading-primary{
    color:white;
    padding: 40px 0;
}
#subheading{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.content{
    width:90%;
    margin:30px auto;
    padding:30px;
    background-color: white;
    color: black;
}
.content h4{
    text-align: center;
    padding-bottom: 20px;
}
.content .special-img{
    background-image: url("images/kingmovement2.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    height:400px;
    padding-bottom:20px;
}
@media (max-width: 450px){
    .content .special-img{
        height:250px;
    }
}

