body {
	font-family: 'PT Sans', sans-serif;
	color: white;
	background-image: url('images/Background_Img.jpeg');
	background-repeat: no-repeat; 
	overflow-x: hidden;
	background-size: 1600px 750px;
}
h1 {
	font-size: 2.2rem;
}

.thinking-time-text {
	display: inline;
}

.top-div {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-bottom: 70px;
}

/* #fenInDiv {
	position: relative;
	left: -150px;
} */

#fenInDiv {
	position: absolute;
	width: 65%;
	top: 80%;
	left: 30%;
}

.wrapper-button {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.question-mark {
	cursor: pointer;
}

#fenIn {
	width: 500px;
	height: 25px;
	border-radius: 2px;
	border: 1px solid #333;
}

#SetFen {
	font-family: 'PT Sans', sans-serif;
	display: inline-block;
	width: 120px;
	height: 30px;
	text-align: center;
	margin-right: 20px;
	background-color: #051F23;
	border: none;
	border-radius: 5px;
	color: #eee;
	cursor: pointer;
}

.container-div {
	width: 100vw;
}

#Board {
	position: relative;
	margin-left: 250px;
	top: 20px;
	left: 60px;
	width: 480px;
	height: 480px;
	border-style: solid;
	border-width: 2px;
	margin-right: 0;
}

.button-container-1 {
	width: fit-content;
	display: flex;
	margin-bottom: 20px;
}

.button-container-2 {
	width: fit-content;
	display: flex;
}

.button-primary {
	font-family: 'PT Sans', sans-serif;
	display: inline-block;
	width: 120px;
	height: 30px;
	text-align: center;
	margin-right: 20px;
	background: #3239CD;
	border: none;
	border-radius: 5px;
	color: #eee;
	cursor: pointer;
}

.button-secondary {
	font-family: 'PT Sans', sans-serif;
	display: inline-block;
	width: 120px;
	height: 30px;
	text-align: center;
	margin-right: 20px;
	background: #3C97C3;
	border: none;
	border-radius: 5px;
	color: #eee;
	cursor: pointer;
}

#EngineOutput {
	margin-top: 40px;
	position: absolute;
	left: 850px;
	top: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Square {
	position: absolute;
	width: 60px;
	height: 60px;
}

.Dark {
	background-color: #969696;
}

.Light {
	background-color: #ffffff;
}

.SqSelected {
	background-color: #dbdbdb;
}

.rank1 {
	top: 420px;
}

.rank1.file1::after {
	content: 'A';
	font-size: 1.1rem;
	position: absolute;
	top: 70px;
	left: 30px;
}

.rank1.file2::after {
	content: 'B';
	font-size: 1.1rem;
	position: absolute;
	top: 70px;
	left: 30px;
}

.rank1.file3::after {
	content: 'C';
	font-size: 1.1rem;
	position: absolute;
	top: 70px;
	left: 30px;
}

.rank1.file4::after {
	content: 'D';
	font-size: 1.1rem;
	position: absolute;
	top: 70px;
	left: 30px;
}

.rank1.file5::after {
	content: 'E';
	font-size: 1.1rem;
	position: absolute;
	top: 70px;
	left: 30px;
}

.rank1.file6::after {
	content: 'F';
	font-size: 1.1rem;
	position: absolute;
	top: 70px;
	left: 30px;
}

.rank1.file7::after {
	content: 'G';
	font-size: 1.1rem;
	position: absolute;
	top: 70px;
	left: 30px;
}

.rank1.file8::after {
	content: 'H';
	font-size: 1.1rem;
	position: absolute;
	top: 70px;
	left: 30px;
}

.file1::before {
	content: '1';
	font-size: 1.2rem;
	position: absolute;
	top: 30px;
	left: -20px;
}

.rank8.file1::before {
	content: '8';
	font-size: 1.2rem;
	position: absolute;
	top: 30px;
	left: -20px;
}

.rank7.file1::before {
	content: '7';
	font-size: 1.2rem;
	position: absolute;
	top: 30px;
	left: -20px;
}

.rank6.file1::before {
	content: '6';
	font-size: 1.2rem;
	position: absolute;
	top: 30px;
	left: -20px;
}

.rank5.file1::before {
	content: '5';
	font-size: 1.2rem;
	position: absolute;
	top: 30px;
	left: -20px;
}

.rank4.file1::before {
	content: '4';
	font-size: 1.2rem;
	position: absolute;
	top: 30px;
	left: -20px;
}

.rank3.file1::before {
	content: '3';
	font-size: 1.2rem;
	position: absolute;
	top: 30px;
	left: -20px;
}

.rank2.file1::before {
	content: '2';
	font-size: 1.2rem;
	position: absolute;
	top: 30px;
	left: -20px;
}

.rank2 {
	top: 360px;
}

.rank3 {
	top: 300px;
}

.rank4 {
	top: 240px;
}

.rank5 {
	top: 180px;
}

.rank6 {
	top: 120px;
}

.rank7 {
	top: 60px;
}

.rank8 {
	top: 0px;
}

.file1 {
	left: 0px;
}

.file2 {
	left: 60px;
}

.file3 {
	left: 120px;
}

.file4 {
	left: 180px;
}

.file5 {
	left: 240px;
}

.file6 {
	left: 300px;
}

.file7 {
	left: 360px;
}

.file8 {
	left: 420px;
}

.Piece {
	position: absolute;
}

@media(max-width:1200px) {
	#Board {
		margin-left: 100px;
	}
	#EngineOutput {
		left: 700px;
	}
}

@media(max-width:1000px) {
	#Board {
		margin-left: 30px;
	}
	#EngineOutput {
		left: 620px;
	}
}

@media(max-width: 900px) {
	body{
		background-size: 1800px auto;
	}
	.container-div {
		width: 100vw;
	}
	.top-div {
		width: 100%;
		position: relative;
		display: block;
		margin-bottom: 70px;
	}
	.top-div h1 {
		text-align: center;
	}
	#fenInDiv {
		display: block;
		position: relative;
		left: 15%;
	}
	#Board {
		margin-left: 10%;
	}
	#EngineOutput {
		top: 750px;
		left: 10%;
	}
}

@media(max-width: 680px) {
	#Board {
		margin-left: 5%;
	}
	.fen-form-input-div {
		display: flex;
		justify-content: space-between;
	}
	#fenIn {
		width: 450px;
		margin-right: 10px;
	}
}